.schedule-item-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.date-row{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.buttons-container{
    display: flex;
    width: 100%;
}

.changed-actions{
    align-self: flex-start;
    flex: 1;
}