<div class="info-main-container">
    <h1 class="info-header fancy-font">Tablica ogłoszeń</h1>
    <div class="contents">
        <h4>Spis treści:</h4>
        @for(section of sections; track section.id){
            <button (click)="moveToSection(section.id)">
                {{section.name}}
            </button>
        }
    </div>
    <app-info-section sectionName="Rozkład stołów" sectionId="rozklad-stolow-id">
        <h3>Wkrótce się pojawi... 😎</h3>
    </app-info-section>
    <app-info-section sectionName="Harmonogram" sectionId="harmonogram-id">
        <app-party-schedule />
    </app-info-section>
    <app-info-section sectionName="Dojazd" sectionId="dojazd-id">
        <app-info-map
            place="Kościół+Przemienienia+Pańskiego+w+Kamienicy"
            name="Ślub"
            firstLineText="Kościół Przemienienia Pańskiego"
            secondLinetext="Kamienica 45"
            iconName="church"
            >
        </app-info-map>

        <app-info-map
            place="OSADA,Kamienica"
            name="Sala Weselna"
            firstLineText="Ośrodek OSADA"
            secondLinetext="Kamienica 750"
            iconName="nightlife"
            >
        </app-info-map>
    </app-info-section>
</div>
