<div class="manage-schedule-container">
    <h1 class="fancy-font center">Zarządzanie harmonogramem</h1>

    @for(item of items(); track $index){
        <div class="editable-item">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.time | toHours}}</span>
            <span>{{item.title}}</span>
            @if(item.description){
                <span class="description">- {{item.description}}</span>
            }
            
            <button mat-icon-button (click)="openEditDialog(item)">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    }
    <button mat-mini-fab color="" class="add-button" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="schedule-preview">
    <h3 class="fancy-font">Podgląd:</h3>
    <app-party-schedule />
</div>


