:host{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editable-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
}

.schedule-preview{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}