@use 'colors';

:host{
  position:relative;
}

.schedule-line{
  position:absolute;
  top: 0;
  left: -3px;
  width: 6px;
  z-index: -1;
  background-color: colors.$primary;
  height: calc(100% - 8px);
}

.schedule-item{
  display: flex;
  width: 100%;
  margin: 48px 0;

  &.left-description{
    flex-direction: row-reverse;

    .schedule-icon{
      margin-right: calc(50% - 24px);
    }
  }

  &.right-description{
    flex-direction: row;

    .schedule-icon{
      margin-left: calc(50% - 24px);
    }
  }
}

.schedule-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background: colors.$primary;
  color: white;
}

.schedule-description-text{
  margin: 16px 4px 0;
  max-width: 27%;
}
