<div class="invitation-text">
    <p> Tutaj wstawimy dokładny tekst z zaposzenia </p>
    <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nulla nec orci varius scelerisque. Suspendisse convallis dolor a scelerisque finibus. Nam vehicula sagittis metus, nec porta dui egestas convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eu ultricies justo. Fusce eget blandit nibh. Integer ullamcorper, erat id tincidunt porttitor, lectus justo tempor justo, a tempus dolor erat eget diam. Praesent faucibus hendrerit felis, condimentum convallis odio aliquet eget. Vestibulum vel dignissim nulla. Suspendisse finibus vel arcu quis fringilla. Donec vel diam id erat malesuada ullamcorper. 
    </p>
    <p>Tereska & Szymon</p>
</div>

<button mat-button> Odpowiedz na zaproszenie </button>