<div class="invitation-text">
    <img src="ts_wedding_logo.png" height="200" width="100">
    <p class="be-with-us fancy-font"> Bądźcie z nami!</p>
    <p> 
        Z radością zapraszamy na naszą uroczystość!
    </p>
    <span class="invitation-info">
        Data: <span>{{envitoment.weddingDate | date:'dd.MM.yyyy'}}</span> 
    </span>

    <span class="invitation-info">
        Godzina: <span>{{envitoment.weddingDate | date:'HH:mm'}}</span> 
    </span>

    <span class="invitation-info">
        Miejsce: <span>Kościół Przemienienia Pańskiego w Kamienicy</span> 
    </span>
    
    <p>
        Będziemy wdzięczni za włączenie się do wspólnej modlitwy i przyjęcie Komunii Świętej w intencji naszego małżeństwa
    </p>
    <span>
        Prosimy o potwierdzenie przybycia do <span class="bold">{{envitoment.lastConfirmationDate | date:'dd.MM.yyyy' }}</span>.
    </span>
    <span>
        Z góry dziękujemy i z niecierpliwością czekamy na wspólne świętowanie!
    </span>

    <p class="confirmation">
        Możesz potwierdzić swoją obecność na tej stronie internetowej wprowadzając kod z zaproszenia oraz uzupełniając formularz.
    </p>
    <button mat-button (click)="navigateToConfirmation()"> Odpowiedz na zaproszenie </button>

    <p class="alice-font sign">Teresa & Szymon</p>
</div>
<img src="invitation.jpg" class="img-decoration" >
