<div class="admin-panel-container">
    <app-top-section/>
    <div class="admin-panel-tabs">
        <mat-tab-group>
            <mat-tab label="Ogólny">
                <app-guest-summary />

                <div class="table-container">
                    <app-admin-table/>

                    <app-create-invitation />
                </div>
            </mat-tab>

            <mat-tab label="Harmonogram"> 
                <app-manage-schedule />
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
