@use 'colors';

:host{
    padding-bottom: 32px;
}

.additional-options{
    display: flex;
    justify-content: flex-start;
    margin: 24px 0; 

    .mat-expansion-panel-header:not([aria-disabled=true]) {
        background: antiquewhite;
    }

    > mat-accordion {
        width: 25%;
    }

}

.panel-container{
    display: flex;
    flex-direction: column;
}

.vege-person{
    color: colors.$vegeText;
    font-weight: 700;
}

.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;

  .text-code {
    font-size: 17px;
  }
}

.invieted-guests {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    margin: 8px 0;
  }
}

.invitation-confirmed-icon {
  display: flex;
  justify-content: flex-start;
  padding-left: 32px;

  .yes {
    color: colors.$successGreen;
  }

  .no {
    color: colors.$warningOrange;
  }
}

.manage-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.manage-button {
  margin: 16px 0;
}
