@use 'colors';

:host{
  position:relative;
  max-width: 500px;
}

.schedule-line{
  position: absolute;
  top: 30px;
  left: 135px;
  width: 2px;
  z-index: -1;
  background-color: #bda88f;
  height: calc(100% - 60px);
}

.schedule-item{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 48px 0;
  gap: 8px;
}

.schedule-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.schedule-time{
  font-size: 24px;
  min-width: 70px;
}

.point{
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background: colors.$primary;

}

.schedule-text{
  display: flex;
  flex-direction: column;
  gap: 4px;

  .title{
    font-weight: 700;
    font-size: 21px;
  }

  .description{
    color: #575757;
  }

}
