@use 'colors';

.menu-items{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.nav-button{
    margin: 6px 0;
}

.selected{
    background: colors.$primary;
    color: #FFF !important;
}