@use 'colors';

.diet-container{
    display: flex;
    align-items: center;
}

.option-label{
    color:#cccccc;
    transition: 0.4s;

    &.vege{
        margin-right: 4px;

        &.selected{
            color: colors.$vegeText;
            font-weight: 500;
        }
    }

    &.meat{
        margin-left: 4px;

        &.selected{
            font-weight: 500;
            color: colors.$meatText;
        }
    }
}

.switch-container{
    display: flex;
    width: 48px;
    height: 28px;
    border-radius: 16px;
    border: solid 1px #000;
    padding: 2px;
    cursor: pointer;
    position: relative;

    &.vege{
        background: #afbeb2;
    }

    &.meat{
        background: #ffeee0;
    }
}

.switch-slider{
    display: flex;
    height: 28px;
    width: 28px;
    background: #cbf7d2;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: 0.4s;

    &.vege{
        background: colors.$vegeBackground;
        left: 2px;
    }

    &.meat{
        background: colors.$meatBackground;;
        left: 22px;
    }
}

.switch-icon{
    font-size: 16px;
    position: absolute;
    top: 8px;
    transition: 0.4s;

    &.selected{
        font-size: 24px;
        top: 4px;
    }
}

.right-icon{
    right: -5px;

    &.selected{
        right: 3px;
    }
}

.disbaled-icon{
    &.vege{
        color: #097921;
    }
    
    &.meat{
        color: #4b2201;
        margin-left: 4px;
    }
}
