@use 'breakpoints';

:host{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > *{
        max-width: 732px;
        width: 100%;
    }
}


@include breakpoints.bigger-than-tablet{
    :host{
        flex-direction: row;
        justify-content: center;
        gap: 24px; 
    }
}