<div class="home-conainer">
    <div class="main-timer">
        <h1 class="alice-font">
            Teresa & Szymon
        </h1>
        <app-time-left />
    </div>
    <div>
        <app-invitation-base-info></app-invitation-base-info>
    </div>
    <div class="small-info brown-background">
        <img src="lisc.png" height="85">
        <span class="fancy-font our-history-header">Nasza historia</span>
        <span class="our-history">
           Poznaliśmy się w Kamienicy na weselu Darka i Justyny. 
            Nasi przyjaciele i rodzina dołożyli wszelkich starań, abyśmy usiedli koło siebie i się poznali. 
            Skutecznie. 
            <br>
            Po dwóch dniach zaprosiłem Terenię na kawę… ale dostałem kosza. 
            <br>
            Dwa miesiące później temat nieoczkiwanie wrócił. 
            Terenia zapytała czy wyjście jest dalej aktualne.
            Of course (oczywiście), że było! Poczekałem jeszcze parę miesięcy i w końcu udało się nam umówić na randkę*. 
            <br>
            <br>
            Na RANDCE rozmawiało nam się bardzo dobrze, poszliśmy nawet na spacer! 
            Byliśmy tak zafascynowani sobą, że przeszliśmy 8km nie odczuwając dystansu.
            Później już było tylko lepiej! 
            Przez liczne spotkania, spacery, ciekawostki, zjedzone burgery, podróże i inne przygody udało mi się rozkochać w sobie Terenię.
            Nasza relacja się rozwijała, aż w końcu 14 stycznia 2024 postanowiliśmy spędzić ze sobą resztę życia - zaręczyliśmy się. 
            <br>
            Z kolei 26 lipca 2025 będziemy uroczyście przysięgać sobie miłość mając Boga i ludzi za świadków!
            <br>
            <br>
            <br>
            <br>
            <span class="referance">*Terenia uparcie twierdzi, że to nie była randka tylko zwykłe spotaknie, ale nie potrafi programować 😎</span>
        </span>
    </div>
    <div class="info">
        <span class="info-header fancy-font">Harmonogram</span>
        <p>Rozpiska wydarzeń podczas uroczystości. Dołożymy wszelkich starań aby nie było opóźnień i wszystko szło zgodnie z planem 😊</p>
        <app-party-schedule></app-party-schedule>
    </div>
    <div class="info">
        <span class="info-header fancy-font">Gdzie?</span>
        <app-places></app-places>
    </div>
    <div class="small-info brown-background">
        <span class="fancy-font our-history-header">O miłości, małżeństiwe i stylu życia...</span>
        <app-quotations></app-quotations>
        <img src="lisc.png" height="60">
    </div>
    <div class="info">
        <span class="info-header fancy-font">Galeria zdjęć</span>
        <app-gallery></app-gallery>
    </div>
</div>

