@use 'colors';

.home-conainer{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}

.main-timer{
    position: relative;
    margin: -16px -16px 0 -16px;
    width: calc(100% + 32px);
    min-height: 700px;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1{
        position: relative;
        color: #FFF;
        font-size: 55px;
        margin-top: 270px;
        font-weight: 300;
        text-align: center;
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.3)
          ), url('../../../assets/home_background.jpg');
        background-size: cover;
        background-position: center;

    }
}

.small-info{
    width: calc(100% - 16px);
    padding: 24px;
    display: flex;
    justify-content: center;
    margin-left: -16px;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.brown-background{
    background: #ffca931c;
}

.info-header{
    font-size: 36px;
    margin-bottom: 24px;
}

.our-history-header{
    font-size: 36px;
    text-align: center;
}

.our-history{
    margin-top: 12px;
    max-width: 750px;
    text-align: center;
    text-wrap: wrap;
    padding-bottom: 50px;
    line-height: 24px;
}

.referance{
    font-size: 12px;
}