<div class="home-conainer">
    <div class="main-timer">
        <h1 class="alice-font">
            Teresa & Szymon
        </h1>
        <app-time-left />
    </div>
    <div>
        <app-invitation-base-info></app-invitation-base-info>
    </div>
    <div class="small-info brown-background">
        <img src="lisc.png" height="85">
        <span class="fancy-font our-history-header">Nasza historia</span>
        <span class="our-history">
            Teresa i Szymon poznali się w Kamienicy na weselu Darka i Justyny. Ich przyjaciele i rodzina dołożyli wszelkich starań żeby usiedli koło siebie i się poznali. Udało im się. Po 2 daniach Szymon zaprosił Terenię na kawę… lecz do skutku doszło dopiero po 8 miesiącach! 
            <br>
            Na spotkaniu rozmawiało im się bardzo dobrze, poszli nawet na spacer! Byli tak zapatrzeni w siebie, że nie czuli odległości którą idą… więc szli tak 8 km, smoląc do siebie nieśmiało cholewki. Później już było tylko lepiej! Ich znajomość i relacja wzrastała, aż w końcu 14 sierpnia 2022 postanowili zostać parą. I tak im zostało i będzie trwać do grobowej deski!
        </span>
    </div>
    <div class="info">
        <span class="info-header fancy-font">Harmonogram</span>
        <p>Rozpiska wydarzeń podczas uroczystości. Dołożymy wszelkich starań aby nie było opóźnień i wszytsko szło zgodnie z planem 😊</p>
        <app-party-schedule></app-party-schedule>
    </div>
    <div class="info">
        <span class="info-header fancy-font">Gdzie?</span>
        <app-places></app-places>
    </div>
    <div class="small-info brown-background">
        <span class="fancy-font our-history-header">O miłości, małżeństiwe i stylu życia...</span>
        <app-quotations></app-quotations>
        <img src="lisc.png" height="60">
    </div>
    <div class="info">
        <span class="info-header fancy-font">Chwile wspomnień</span>
        <app-gallery></app-gallery>
    </div>
</div>

