<div class="home-conainer">
    <div class="main-timer">
        <h1 class="alice-font">
            Teresa & Szymon
        </h1>
        <app-time-left />
    </div>
    <div>
        <app-invitation-base-info></app-invitation-base-info>
    </div>
    <div class="small-info brown-background">
        <img src="lisc.png" height="85">
        <span class="fancy-font our-history-header">Nasza historia</span>
        <span class="our-history">
            Nasza historia siala alalalalalala al lal aala la la la aso fisdnfsaioudfb uosadbfi sahdf pisauhd fpisauhd fpisaudfpiusadpifu hspiuhf pisuhfpisdh fpiashd fpiual lal aala la la la aso fisdnfsaioudfb uosadbfi sahdf pisauhd fpisauhd fpisaudfpiusadpifu hspiuhf pisuhfpisdh fpiashd fpiual lal aala la la la aso fisdnfsaioudfb uosadbfi sahdf pisauhd fpisauhd fpisaudfpiusadpifu hspiuhf pisuhfpisdh fpiashd fpiual lal aala la la la aso fisdnfsaioudfb uosadbfi sahdf pisauhd fpisauhd fpisaudfpiusadpifu hspiuhf pisuhfpisdh fpiashd fpiual lal aala la la la aso fisdnfsaioudfb uosadbfi sahdf pisauhd fpisauhd fpisaudfpiusadpifu hspiuhf pisuhfpisdh fpiashd fpiual lal aala la la la aso fisdnfsaioudfb uosadbfi sahdf pisauhd fpisauhd fpisaudfpiusadpifu hspiuhf pisuhfpisdh fpiashd fpiu
        </span>
    </div>
    <div class="info">
        <span class="info-header fancy-font">Harmonogram</span>
        <p>Rozpiska wydarzeń podczas uroczystości. Dołożymy wszelkich starań aby nie było opóźnień i wszytsko szło zgodnie z planem 😊</p>
        <app-party-schedule></app-party-schedule>
    </div>
    <div class="info">
        <span class="info-header fancy-font">Gdzie?</span>
        <app-places></app-places>
    </div>
    <div class="info">
        <span class="info-header fancy-font">Chwile wspomnień</span>
        <app-gallery></app-gallery>
    </div>
</div>

