@use 'breakpoints';

:host{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    height: 2650px;
    align-items: center;
    width: 292px;
}

.item-container{
    height: fit-content;
}

.gallery-img{
    width: 150px;
}

img {
    max-inline-size: 100%;
    block-size: auto;
  }

@include breakpoints.bigger-than-mobile{
    :host{
        height: 3500px;
        width: 412px;
    }

    .gallery-img{
        width: 200px;
    }
}

@include breakpoints.bigger-than-tablet{
    :host{
        height: 2090px;
        width: 956px;
    }

    .gallery-img{
        width: 230px;
    }
}


@include breakpoints.bigger-than-laptop{
    :host{
        height: 2250px;
        width: 1036px;
    }

    .gallery-img{
        width: 250px;
    }
}

@include breakpoints.bigger-than-desktop{
    :host{
        height: 1510px;
        width: 1560px;
    }

    .gallery-img{
        width: 250px;
    }
}