@use 'breakpoints';

:host{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    height: 2900px;
}

.item-container{
    height: fit-content;
}

.gallery-img{
    width: 170px;
}

@include breakpoints.bigger-than-mobile{
    :host{
        height: 3300px;
    }

    .gallery-img{
        width: 200px;
    }
}

@include breakpoints.bigger-than-tablet{
    :host{
        height: 1900px;
    }

    .gallery-img{
        width: 230px;
    }
}


@include breakpoints.bigger-than-laptop{
    :host{
        height: 2100px;
    }

    .gallery-img{
        width: 250px;
    }
}

@include breakpoints.bigger-than-desktop{
    :host{
        height: 1500px;
    }

    .gallery-img{
        width: 250px;
    }
}