@use 'breakpoints';
@use 'colors';

:host{
    display: flex;
    justify-content: center;
}

.guest-confirmation-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
        font-weight: 600;
        font-size: 54px;
    }
}

.welcome-text{
    margin-bottom: 24px;
}


.form-container{
    width: 100%;
}

.guest-row{
    border-bottom: 1px solid black;
    padding: 8px 0;
    display: flex;
    flex-direction: column;

    .header{
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .guest-options{
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        align-items: center;
    }

    .diet-option{
        display: flex;
        flex-direction: column;
        align-items: center;

        .diet-option-label{
            margin-bottom: 4px;
        }
    }

}

.accomodation-header{
    display: flex;
    align-items: center;
    flex-direction: row;

    .accomodation-text{
        margin-left: 12px;
    }
}

.invitation-comments{
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    label{
        margin-bottom: 4px;
    }

    textarea{
        width: calc(100% - 4px);
        min-height: 100px;
        resize: none;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

.end-info{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    flex-direction: column;

    > * {
        width: 100%;
        text-align: center;
    }
}

@include  breakpoints.bigger-than-mobile{
    .guest-row{
        padding: 8px 32px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .guest-options{
        width: 60%;
    }
}

@include  breakpoints.bigger-than-tablet{

    .welcome-text{
        padding: 0 5%;
    }

    .guest-row{
        align-self: center;
        width: 700px;
    }

    .invitation-comments{
        align-self: center;
        width: 700px;
    }

    .form-container{
        width: 800px;
        display: flex;
        flex-direction: column;
        box-shadow: 1.5px 1.5px 5px -2px colors.$primary;
        padding: 24px;
        border-radius: 5px;
    }

    .end-info{
        width: 848px;

        > button {
            margin-top: 16px;
            width: 250px;
            align-self: center;
        }
    }
}