<mat-drawer-container [hasBackdrop]="true" class="main-container">
    <mat-drawer #drawer mode="over" autoFocus="false" position="end">
        <div class="menu-content">
            <button mat-icon-button class="close-button" (click)="toggleDrawer(drawer)" color="">
                <mat-icon>close-button</mat-icon>
            </button>
            <img src="ts_wedding_logo.png" height="100" class="menu-logo-img">
            <app-menu (itemClicked)="toggleDrawer(drawer)" />
        </div>
        <div class="admin-panel-button">
            <button mat-icon-button  (click)="navigateToAdminPanel()">
                <mat-icon>settings</mat-icon>
            </button>
            @if(user()){
                <div class="user-panel">
                    <span>Zalogowano jako {{user()}}</span> 
                    <button mat-icon-button  (click)="logout()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
            }
        </div>
        
    </mat-drawer>
    <mat-drawer-content>
        <div class="header" id="application-header">
            <span class="header-logo-text">
                <img src="lisc.png"  class="header-logo-img">
                <span class="header-text fancy-font">Wesele Teresy & Szymona</span> 
            </span>
            <button mat-icon-button (click)="toggleDrawer(drawer)" class="mobile-view">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="desktop-view">
                <app-desktop-menu></app-desktop-menu>
            </div>
        </div>
        <div class="content" id="application-content">
            <router-outlet />
            <div class="footer">
                <div class="grid-item">
                    Skontaktuj się z nami bezpośrednio!
                </div>
                <div class="grid-item">
                    <span class="contact-owner">{{envitoment.mr}}</span>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">phone</mat-icon>
                        <a [href]="'tel:'+envitoment.mrPhone" class="phone-number">{{envitoment.mrPhone}}</a>
                    </div>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">email</mat-icon>
                        <a class="footer-email" [href]="'mailto:'+envitoment.mrEmail">{{envitoment.mrEmail}}</a>
                    </div>
                </div>
                <div class="grid-item">
                    <span class="contact-owner">{{envitoment.miss}}</span>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">phone</mat-icon>
                        <a [href]="'tel:'+envitoment.missPhone" class="phone-number">{{envitoment.missPhone}}</a>
                    </div>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">email</mat-icon>
                        <a class="footer-email" [href]="'mailto:'+envitoment.missEmail">{{envitoment.missEmail}}</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>