<mat-drawer-container [hasBackdrop]="true" class="main-container">
    <mat-drawer #drawer mode="over" autoFocus="false" position="end">
        <div class="menu-content">
            <button mat-icon-button class="close-button" (click)="toggleDrawer(drawer)" color="">
                <mat-icon>close-button</mat-icon>
            </button>
            <img src="ts_wedding_logo.png" height="100" width="100" class="menu-logo-img">
            <app-menu (itemClicked)="toggleDrawer(drawer)" />
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="header" id="application-header">
            <span class="header-logo-text">
                <img src="ts_wedding_logo.png"  class="header-logo-img">
                <span class="header-text fancy-font">Wesele Tereski i Szymona</span> 
            </span>
            <button mat-mini-fab (click)="toggleDrawer(drawer)" color="">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="content" id="application-content">
            <router-outlet />
            <div class="footer">
                <div class="grid-item">
                    Skontaktuj się z nami bezpośrednio!
                </div>
                <div class="grid-item">
                    <span class="contact-owner">{{envitoment.mr}}</span>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">phone</mat-icon>
                        <span>{{envitoment.mrPhone}}</span>
                    </div>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">email</mat-icon>
                        <a class="footer-email" [href]="envitoment.mrEmail">{{envitoment.mrEmail}}</a>
                    </div>
                </div>
                <div class="grid-item">
                    <span class="contact-owner">{{envitoment.miss}}</span>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">phone</mat-icon>
                        <span>{{envitoment.missPhone}}</span>
                    </div>
                    <div class="contact-footer">
                        <mat-icon class="contact-icon">email</mat-icon>
                        <a class="footer-email" [href]="envitoment.missEmail">{{envitoment.missEmail}}</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
@if(isLoadingSig()){
    <div class="spinner">
        <mat-spinner />
    </div>
}