/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './app/styles/m3-theme';
@use 'breakpoints';

@include mat.core();

html {
  @include mat.core-theme(m3-theme.$light-theme);
  @include mat.all-component-themes(m3-theme.$light-theme);
}

html, body { height: 100%;}
body { margin: 0; font-family: "Inter Tight", sans-serif; letter-spacing: .1rem;}

.fancy-font{
  font-family: "Poiret One";
}

.alice-font{
  font-family: "Alice";
}

.mdc-button__label{
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 1.1em;
}

gallery-item > gallery-image{
  display: flex !important;
  justify-content: center;

  img{
    width: 75% !important;
  }
}