@if(editMode()){
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (valueChange)="valueChanged($event)" hideSingleSelectionIndicator="true">
        <mat-button-toggle value='no' [checked]="status()==='no'" class="no edit-mode-button" >
            <span class="change-status-option">
                Nie będę
            </span>
        </mat-button-toggle>
        <mat-button-toggle value='yes' [checked]="status()==='yes'" class="yes edit-mode-button">
            <span class="change-status-option">
                Będę
            </span>
        </mat-button-toggle>
      </mat-button-toggle-group>
} @else {
    <div class="confirmed-is-going">
        @if(goingStatus()){
            <span class="guest-confirmation-status-container yes">
                <mat-icon fontIcon="check"></mat-icon>
            </span>
            <span class="going-status-text yes"> Potwierdzono! </span>
        } @else {
            <span class="guest-confirmation-status-container no">
                <mat-icon fontIcon="close"></mat-icon>
            </span>
            <span class="going-status-text no"> Odrzucono :( </span>
        }
    </div>
}