$maybe-color: #e0872b;
$yes-color: #5bc980;
$no-color: #a80710;


.edit-mode-button{
    ::ng-deep  {
        .mat-button-toggle-label-content{
            line-height: 30px;
        }
    }

    &.no{
        &.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
            color: $no-color;
            background-color: #fad8da;
        }
    }

    &.yes{
        &.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
            color: #1f462c;
            background-color: #cdf8db;
        }
    }

    .change-status-option{
        display: flex;
        align-items: center;
        padding: 1px;
    }
}


.guest-confirmation-status-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1.5px 1.5px 5px -2px black;

    &.yes{
        border: 1px solid $yes-color;
        background-color: $yes-color;
        
        mat-icon{
            color: #FFF;
        }
    }

    &.no{
        border: 1px solid $no-color;
        background-color: $no-color;
        
        mat-icon{
            color: #FFF;
        }
    }

}
   